In [15]:
import pandas as pd
df = pd.read_csv('starbucks.csv', header = None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Beverage_category,Beverage,Beverage_prep,Calories,Total,Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
1,Coffee,Brewed Coffee,Short,3,0.1,0,0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
2,Coffee,Brewed Coffee,Tall,4,0.1,0,0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
3,Coffee,Brewed Coffee,Grande,5,0.1,0,0,0,10,0,0,0,1,0%,0%,0%,0%,330
4,Coffee,Brewed Coffee,Venti,5,0.1,0,0,0,10,0,0,0,1,0%,0%,2%,0%,410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,3 2,0.4,0,0,250,67,1,64,5,6%,8%,20%,10%,0
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,0.1,0.1,0,0,160,39,0,38,4,6%,0%,10%,0%,0
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200,3.5,2,0.1,10,160,39,0,38,3,6%,0%,10%,0%,0
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180,1.5,0.2,0,0,160,37,1,35,3,4%,0%,10%,6%,0
242,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,0.1,0.1,0,5,230,56,0,55,5,8%,0%,15%,0%,0

In [19]:
df

KeyError: 'Calories'

In [11]:
df.columns = headers

NameError: name 'headers' is not defined

In [9]:
df[:26362]

,Beverage_category,Beverage,Beverage_prep,Calories,Total,Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,3 2,0.4,0.0,0,250,67,1,64,5.0,6%,8%,20%,10%,0
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6%,0%,10%,0%,0
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6%,0%,10%,0%,0
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4%,0%,10%,6%,0
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8%,0%,15%,0%,0

In [7]:
df[26362:26363]

,ticker,commodity,date,open,high,low,close,volume
26362,BZ=F,Brent Crude Oil,02-02-2021,56.290001,58.049999,56.220001,57.459999,34815

In [8]:
df.columns

Index(['ticker', 'commodity', 'date', 'open', 'high', 'low', 'close',
       'volume'],
      dtype='object')

In [10]:
df.row

AttributeError: 'DataFrame' object has no attribute 'row'

In [11]:
df.date

0        23-08-2000
1        24-08-2000
2        25-08-2000
3        28-08-2000
4        29-08-2000
            ...
26995    10-08-2023
26996    11-08-2023
26997    14-08-2023
26998    15-08-2023
26999    16-08-2023
Name: date, Length: 27000, dtype: object

In [13]:
type(['date'])

list

In [14]:
df[['date','high','low']]

             date       high        low
0      23-08-2000  32.799999  31.950001
1      24-08-2000  32.240002  31.400000
2      25-08-2000  32.099998  31.320000
3      28-08-2000  32.919998  31.860001
4      29-08-2000  33.029999  32.560001
...           ...        ...        ...
26995  10-08-2023  88.099998  86.150002
26996  11-08-2023  87.349998  85.849998
26997  14-08-2023  86.699997  85.500000
26998  15-08-2023  86.669998  84.290001
26999  16-08-2023  85.360001  83.120003

[27000 rows x 3 columns]

In [15]:
df.describe()

               open          high           low         close        volume
count  27000.000000  27000.000000  27000.000000  27000.000000  2.700000e+04
mean      27.008849     27.397822     26.594791     27.007317  1.055767e+05
std       35.933468     36.386133     35.447228     35.937274  1.495351e+05
min      -14.000000      0.507000    -40.320000    -37.630001  0.000000e+00
25%        2.002050      2.034975      1.971150      2.001000  2.609175e+04
50%        3.437000      3.518550      3.354350      3.436400  4.859250e+04
75%       53.422499     54.212500     52.565001     53.462500  1.126950e+05
max      146.080002    147.429993    144.270004    146.080002  2.288230e+06

In [20]:
df[df['open']==df['open'].max()]

,ticker,commodity,date,open,high,low,close,volume
23254,BZ=F,Brent Crude Oil,03-07-2008,146.080002,146.270004,144.270004,146.080002,1064

In [21]:
df.loc[3]

ticker             CL=F
commodity     Crude Oil
date         28-08-2000
open          32.040001
high          32.919998
low           31.860001
close         32.869999
volume            46770
Name: 3, dtype: object

In [24]:
 df.set_index('date', inplace=True)

In [25]:
df

,ticker,commodity,open,high,low,close,volume
date,,,,,,,
23-08-2000,CL=F,Crude Oil,31.950001,32.799999,31.950001,32.049999,79385
24-08-2000,CL=F,Crude Oil,31.900000,32.240002,31.400000,31.629999,72978
25-08-2000,CL=F,Crude Oil,31.700001,32.099998,31.320000,32.049999,44601
28-08-2000,CL=F,Crude Oil,32.040001,32.919998,31.860001,32.869999,46770
29-08-2000,CL=F,Crude Oil,32.820000,33.029999,32.560001,32.720001,49131
...,...,...,...,...,...,...,...
10-08-2023,BZ=F,Brent Crude Oil,87.370003,88.099998,86.150002,86.400002,28721
11-08-2023,BZ=F,Brent Crude Oil,86.389999,87.349998,85.849998,86.809998,33204
14-08-2023,BZ=F,Brent Crude Oil,86.639999,86.699997,85.500000,86.209999,24768
15-08-2023,BZ=F,Brent Crude Oil,86.300003,86.669998,84.290001,84.889999,29945
16-08-2023,BZ=F,Brent Crude Oil,85.120003,85.360001,83.120003,83.449997,29945

In [27]:
df.reset_index(inplace=True)

In [28]:
df

,date,ticker,commodity,open,high,low,close,volume
0,23-08-2000,CL=F,Crude Oil,31.950001,32.799999,31.950001,32.049999,79385
1,24-08-2000,CL=F,Crude Oil,31.900000,32.240002,31.400000,31.629999,72978
2,25-08-2000,CL=F,Crude Oil,31.700001,32.099998,31.320000,32.049999,44601
3,28-08-2000,CL=F,Crude Oil,32.040001,32.919998,31.860001,32.869999,46770
4,29-08-2000,CL=F,Crude Oil,32.820000,33.029999,32.560001,32.720001,49131
...,...,...,...,...,...,...,...,...
26995,10-08-2023,BZ=F,Brent Crude Oil,87.370003,88.099998,86.150002,86.400002,28721
26996,11-08-2023,BZ=F,Brent Crude Oil,86.389999,87.349998,85.849998,86.809998,33204
26997,14-08-2023,BZ=F,Brent Crude Oil,86.639999,86.699997,85.500000,86.209999,24768
26998,15-08-2023,BZ=F,Brent Crude Oil,86.300003,86.669998,84.290001,84.889999,29945
26999,16-08-2023,BZ=F,Brent Crude Oil,85.120003,85.360001,83.120003,83.449997,29945

In [29]:
print(df)

             date ticker        commodity       open       high        low  \
0      23-08-2000   CL=F        Crude Oil  31.950001  32.799999  31.950001
1      24-08-2000   CL=F        Crude Oil  31.900000  32.240002  31.400000
2      25-08-2000   CL=F        Crude Oil  31.700001  32.099998  31.320000
3      28-08-2000   CL=F        Crude Oil  32.040001  32.919998  31.860001
4      29-08-2000   CL=F        Crude Oil  32.820000  33.029999  32.560001
...           ...    ...              ...        ...        ...        ...
26995  10-08-2023   BZ=F  Brent Crude Oil  87.370003  88.099998  86.150002
26996  11-08-2023   BZ=F  Brent Crude Oil  86.389999  87.349998  85.849998
26997  14-08-2023   BZ=F  Brent Crude Oil  86.639999  86.699997  85.500000
26998  15-08-2023   BZ=F  Brent Crude Oil  86.300003  86.669998  84.290001
26999  16-08-2023   BZ=F  Brent Crude Oil  85.120003  85.360001  83.120003

           close  volume
0      32.049999   79385
1      31.629999   72978
2      32.049999   44601
3      32.869999   46770
4      32.720001   49131
...          ...     ...
26995  86.400002   28721
26996  86.809998   33204
26997  86.209999   24768
26998  84.889999   29945
26999  83.449997   29945

[27000 rows x 8 columns]

In [30]:
print('hello this is rohan jangir ')

hello this is rohan jangir