In [7]:
import pandas as pd
a = pd.

['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS', 'UNITS', 'Magnitude', 'Subject']
['BDCQ.SF1AA2CA', '2016.06', '1116.386', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2016.09', '1070.874', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2016.12', '1054.408', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2017.03', '1010.665', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2017.06', '1233.7', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2017.09', '1282.436', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2017.12', '1290.82', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2018.03', '1412.007', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2018.06', '1488.055', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2018.09', '1497.678', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2018.12', '1570.507', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2019.03', '1393.749', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2019.06', '1517.143', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2019.09', '1381.514', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2019.12', '1370.985', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2020.03', '1073.017', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2020.06', '1131.445', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2020.09', '1440.101', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2020.12', '1489.979', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2021.03', '1390.782', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2021.06', '1826.73', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2021.09', '1710.073', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']
['BDCQ.SF1AA2CA', '2021.12', '1559.479', '', 'F', 'Dollars', '6', 'Business Data Collection - BDC']

In [14]:
import pandas as pd
a = pd.read_csv('Book1.csv')
a

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC
5,BDCQ.SF1AA2CA,2017.09,1282.436,NaN,F,Dollars,6,Business Data Collection - BDC
6,BDCQ.SF1AA2CA,2017.12,1290.820,NaN,F,Dollars,6,Business Data Collection - BDC
7,BDCQ.SF1AA2CA,2018.03,1412.007,NaN,F,Dollars,6,Business Data Collection - BDC
8,BDCQ.SF1AA2CA,2018.06,1488.055,NaN,F,Dollars,6,Business Data Collection - BDC
9,BDCQ.SF1AA2CA,2018.09,1497.678,NaN,F,Dollars,6,Business Data Collection - BDC
10,BDCQ.SF1AA2CA,2018.12,1570.507,NaN,F,Dollars,6,Business Data Collection - BDC
11,BDCQ.SF1AA2CA,2019.03,1393.749,NaN,F,Dollars,6,Business Data Collection - BDC
12,BDCQ.SF1AA2CA,2019.06,1517.143,NaN,F,Dollars,6,Business Data Collection - BDC
13,BDCQ.SF1AA2CA,2019.09,1381.514,NaN,F,Dollars,6,Business Data Collection - BDC
14,BDCQ.SF1AA2CA,2019.12,1370.985,NaN,F,Dollars,6,Business Data Collection - BDC
15,BDCQ.SF1AA2CA,2020.03,1073.017,NaN,F,Dollars,6,Business Data Collection - BDC
16,BDCQ.SF1AA2CA,2020.06,1131.445,NaN,F,Dollars,6,Business Data Collection - BDC
17,BDCQ.SF1AA2CA,2020.09,1440.101,NaN,F,Dollars,6,Business Data Collection - BDC
18,BDCQ.SF1AA2CA,2020.12,1489.979,NaN,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,NaN,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,NaN,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,NaN,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,NaN,F,Dollars,6,Business Data Collection - BDC

In [35]:
print(a['Data_value'].max())
print(a['Period'].max())
print(a['Data_value'].min())
print(a['Period'].min())

1826.73
2021.12
1010.665
2016.06

In [34]:
a.tail(5)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
18,BDCQ.SF1AA2CA,2020.12,1489.979,NaN,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,NaN,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,NaN,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,NaN,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,NaN,F,Dollars,6,Business Data Collection - BDC

a.head(5)

In [36]:
a.head(5)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC

In [39]:
a.max()

Series_reference                     BDCQ.SF1AA2CA
Period                                     2021.12
Data_value                                 1826.73
Suppressed                                     NaN
STATUS                                           F
UNITS                                      Dollars
Magnitude                                        6
Subject             Business Data Collection - BDC
dtype: object

In [43]:
import pandas as pd
df = pd.read_csv('fuels.csv')
df

,ticker,commodity,date,open,high,low,close,volume
0,CL=F,Crude Oil,23-08-2000,31.950001,32.799999,31.950001,32.049999,79385
1,CL=F,Crude Oil,24-08-2000,31.900000,32.240002,31.400000,31.629999,72978
2,CL=F,Crude Oil,25-08-2000,31.700001,32.099998,31.320000,32.049999,44601
3,CL=F,Crude Oil,28-08-2000,32.040001,32.919998,31.860001,32.869999,46770
4,CL=F,Crude Oil,29-08-2000,32.820000,33.029999,32.560001,32.720001,49131
...,...,...,...,...,...,...,...,...
26995,BZ=F,Brent Crude Oil,10-08-2023,87.370003,88.099998,86.150002,86.400002,28721
26996,BZ=F,Brent Crude Oil,11-08-2023,86.389999,87.349998,85.849998,86.809998,33204
26997,BZ=F,Brent Crude Oil,14-08-2023,86.639999,86.699997,85.500000,86.209999,24768
26998,BZ=F,Brent Crude Oil,15-08-2023,86.300003,86.669998,84.290001,84.889999,29945
26999,BZ=F,Brent Crude Oil,16-08-2023,85.120003,85.360001,83.120003,83.449997,29945

In [46]:
df['commodity'][df['close']<=35]

0              Crude Oil
1              Crude Oil
2              Crude Oil
3              Crude Oil
4              Crude Oil
              ...
26183    Brent Crude Oil
26184    Brent Crude Oil
26185    Brent Crude Oil
26186    Brent Crude Oil
26191    Brent Crude Oil
Name: commodity, Length: 18267, dtype: object

In [48]:
df['commodity']=='Crude Oil'

0         True
1         True
2         True
3         True
4         True
         ...
26995    False
26996    False
26997    False
26998    False
26999    False
Name: commodity, Length: 27000, dtype: bool

In [49]:
df['open'].mean()

27.008849037663847

In [57]:
df['volume']=df[]
df

,ticker,commodity,date,open,high,low,close,volume
0,CL=F,Crude Oil,23-08-2000,3,32.799999,31.950001,32.049999,3
1,CL=F,Crude Oil,24-08-2000,3,32.240002,31.400000,31.629999,3
2,CL=F,Crude Oil,25-08-2000,3,32.099998,31.320000,32.049999,3
3,CL=F,Crude Oil,28-08-2000,3,32.919998,31.860001,32.869999,3
4,CL=F,Crude Oil,29-08-2000,3,33.029999,32.560001,32.720001,3
...,...,...,...,...,...,...,...,...
26995,BZ=F,Brent Crude Oil,10-08-2023,3,88.099998,86.150002,86.400002,3
26996,BZ=F,Brent Crude Oil,11-08-2023,3,87.349998,85.849998,86.809998,3
26997,BZ=F,Brent Crude Oil,14-08-2023,3,86.699997,85.500000,86.209999,3
26998,BZ=F,Brent Crude Oil,15-08-2023,3,86.669998,84.290001,84.889999,3
26999,BZ=F,Brent Crude Oil,16-08-2023,3,85.360001,83.120003,83.449997,3

In [58]:
df = pd.read_csv('Book1.csv')
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC
5,BDCQ.SF1AA2CA,2017.09,1282.436,NaN,F,Dollars,6,Business Data Collection - BDC
6,BDCQ.SF1AA2CA,2017.12,1290.820,NaN,F,Dollars,6,Business Data Collection - BDC
7,BDCQ.SF1AA2CA,2018.03,1412.007,NaN,F,Dollars,6,Business Data Collection - BDC
8,BDCQ.SF1AA2CA,2018.06,1488.055,NaN,F,Dollars,6,Business Data Collection - BDC
9,BDCQ.SF1AA2CA,2018.09,1497.678,NaN,F,Dollars,6,Business Data Collection - BDC
10,BDCQ.SF1AA2CA,2018.12,1570.507,NaN,F,Dollars,6,Business Data Collection - BDC
11,BDCQ.SF1AA2CA,2019.03,1393.749,NaN,F,Dollars,6,Business Data Collection - BDC
12,BDCQ.SF1AA2CA,2019.06,1517.143,NaN,F,Dollars,6,Business Data Collection - BDC
13,BDCQ.SF1AA2CA,2019.09,1381.514,NaN,F,Dollars,6,Business Data Collection - BDC
14,BDCQ.SF1AA2CA,2019.12,1370.985,NaN,F,Dollars,6,Business Data Collection - BDC
15,BDCQ.SF1AA2CA,2020.03,1073.017,NaN,F,Dollars,6,Business Data Collection - BDC
16,BDCQ.SF1AA2CA,2020.06,1131.445,NaN,F,Dollars,6,Business Data Collection - BDC
17,BDCQ.SF1AA2CA,2020.09,1440.101,NaN,F,Dollars,6,Business Data Collection - BDC
18,BDCQ.SF1AA2CA,2020.12,1489.979,NaN,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,NaN,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,NaN,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,NaN,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,NaN,F,Dollars,6,Business Data Collection - BDC

In [59]:
df.fillna(0)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,0.0,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,0.0,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,0.0,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,0.0,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,0.0,F,Dollars,6,Business Data Collection - BDC
5,BDCQ.SF1AA2CA,2017.09,1282.436,0.0,F,Dollars,6,Business Data Collection - BDC
6,BDCQ.SF1AA2CA,2017.12,1290.820,0.0,F,Dollars,6,Business Data Collection - BDC
7,BDCQ.SF1AA2CA,2018.03,1412.007,0.0,F,Dollars,6,Business Data Collection - BDC
8,BDCQ.SF1AA2CA,2018.06,1488.055,0.0,F,Dollars,6,Business Data Collection - BDC
9,BDCQ.SF1AA2CA,2018.09,1497.678,0.0,F,Dollars,6,Business Data Collection - BDC
10,BDCQ.SF1AA2CA,2018.12,1570.507,0.0,F,Dollars,6,Business Data Collection - BDC
11,BDCQ.SF1AA2CA,2019.03,1393.749,0.0,F,Dollars,6,Business Data Collection - BDC
12,BDCQ.SF1AA2CA,2019.06,1517.143,0.0,F,Dollars,6,Business Data Collection - BDC
13,BDCQ.SF1AA2CA,2019.09,1381.514,0.0,F,Dollars,6,Business Data Collection - BDC
14,BDCQ.SF1AA2CA,2019.12,1370.985,0.0,F,Dollars,6,Business Data Collection - BDC
15,BDCQ.SF1AA2CA,2020.03,1073.017,0.0,F,Dollars,6,Business Data Collection - BDC
16,BDCQ.SF1AA2CA,2020.06,1131.445,0.0,F,Dollars,6,Business Data Collection - BDC
17,BDCQ.SF1AA2CA,2020.09,1440.101,0.0,F,Dollars,6,Business Data Collection - BDC
18,BDCQ.SF1AA2CA,2020.12,1489.979,0.0,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,0.0,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,0.0,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,0.0,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,0.0,F,Dollars,6,Business Data Collection - BDC

In [64]:
df.fillna(0)
df.to_csv('xx.csv')
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC
5,BDCQ.SF1AA2CA,2017.09,1282.436,NaN,F,Dollars,6,Business Data Collection - BDC
6,BDCQ.SF1AA2CA,2017.12,1290.820,NaN,F,Dollars,6,Business Data Collection - BDC
7,BDCQ.SF1AA2CA,2018.03,1412.007,NaN,F,Dollars,6,Business Data Collection - BDC
8,BDCQ.SF1AA2CA,2018.06,1488.055,NaN,F,Dollars,6,Business Data Collection - BDC
9,BDCQ.SF1AA2CA,2018.09,1497.678,NaN,F,Dollars,6,Business Data Collection - BDC
10,BDCQ.SF1AA2CA,2018.12,1570.507,NaN,F,Dollars,6,Business Data Collection - BDC
11,BDCQ.SF1AA2CA,2019.03,1393.749,NaN,F,Dollars,6,Business Data Collection - BDC
12,BDCQ.SF1AA2CA,2019.06,1517.143,NaN,F,Dollars,6,Business Data Collection - BDC
13,BDCQ.SF1AA2CA,2019.09,1381.514,NaN,F,Dollars,6,Business Data Collection - BDC
14,BDCQ.SF1AA2CA,2019.12,1370.985,NaN,F,Dollars,6,Business Data Collection - BDC
15,BDCQ.SF1AA2CA,2020.03,1073.017,NaN,F,Dollars,6,Business Data Collection - BDC
16,BDCQ.SF1AA2CA,2020.06,1131.445,NaN,F,Dollars,6,Business Data Collection - BDC
17,BDCQ.SF1AA2CA,2020.09,1440.101,NaN,F,Dollars,6,Business Data Collection - BDC
18,BDCQ.SF1AA2CA,2020.12,1489.979,NaN,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,NaN,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,NaN,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,NaN,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,NaN,F,Dollars,6,Business Data Collection - BDC

In [65]:
df.fillna(3)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,3.0,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,3.0,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,3.0,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,3.0,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,3.0,F,Dollars,6,Business Data Collection - BDC
5,BDCQ.SF1AA2CA,2017.09,1282.436,3.0,F,Dollars,6,Business Data Collection - BDC
6,BDCQ.SF1AA2CA,2017.12,1290.820,3.0,F,Dollars,6,Business Data Collection - BDC
7,BDCQ.SF1AA2CA,2018.03,1412.007,3.0,F,Dollars,6,Business Data Collection - BDC
8,BDCQ.SF1AA2CA,2018.06,1488.055,3.0,F,Dollars,6,Business Data Collection - BDC
9,BDCQ.SF1AA2CA,2018.09,1497.678,3.0,F,Dollars,6,Business Data Collection - BDC
10,BDCQ.SF1AA2CA,2018.12,1570.507,3.0,F,Dollars,6,Business Data Collection - BDC
11,BDCQ.SF1AA2CA,2019.03,1393.749,3.0,F,Dollars,6,Business Data Collection - BDC
12,BDCQ.SF1AA2CA,2019.06,1517.143,3.0,F,Dollars,6,Business Data Collection - BDC
13,BDCQ.SF1AA2CA,2019.09,1381.514,3.0,F,Dollars,6,Business Data Collection - BDC
14,BDCQ.SF1AA2CA,2019.12,1370.985,3.0,F,Dollars,6,Business Data Collection - BDC
15,BDCQ.SF1AA2CA,2020.03,1073.017,3.0,F,Dollars,6,Business Data Collection - BDC
16,BDCQ.SF1AA2CA,2020.06,1131.445,3.0,F,Dollars,6,Business Data Collection - BDC
17,BDCQ.SF1AA2CA,2020.09,1440.101,3.0,F,Dollars,6,Business Data Collection - BDC
18,BDCQ.SF1AA2CA,2020.12,1489.979,3.0,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,3.0,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,3.0,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,3.0,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,3.0,F,Dollars,6,Business Data Collection - BDC

In [66]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC
5,BDCQ.SF1AA2CA,2017.09,1282.436,NaN,F,Dollars,6,Business Data Collection - BDC
6,BDCQ.SF1AA2CA,2017.12,1290.820,NaN,F,Dollars,6,Business Data Collection - BDC
7,BDCQ.SF1AA2CA,2018.03,1412.007,NaN,F,Dollars,6,Business Data Collection - BDC
8,BDCQ.SF1AA2CA,2018.06,1488.055,NaN,F,Dollars,6,Business Data Collection - BDC
9,BDCQ.SF1AA2CA,2018.09,1497.678,NaN,F,Dollars,6,Business Data Collection - BDC
10,BDCQ.SF1AA2CA,2018.12,1570.507,NaN,F,Dollars,6,Business Data Collection - BDC
11,BDCQ.SF1AA2CA,2019.03,1393.749,NaN,F,Dollars,6,Business Data Collection - BDC
12,BDCQ.SF1AA2CA,2019.06,1517.143,NaN,F,Dollars,6,Business Data Collection - BDC
13,BDCQ.SF1AA2CA,2019.09,1381.514,NaN,F,Dollars,6,Business Data Collection - BDC
14,BDCQ.SF1AA2CA,2019.12,1370.985,NaN,F,Dollars,6,Business Data Collection - BDC
15,BDCQ.SF1AA2CA,2020.03,1073.017,NaN,F,Dollars,6,Business Data Collection - BDC
16,BDCQ.SF1AA2CA,2020.06,1131.445,NaN,F,Dollars,6,Business Data Collection - BDC
17,BDCQ.SF1AA2CA,2020.09,1440.101,NaN,F,Dollars,6,Business Data Collection - BDC
18,BDCQ.SF1AA2CA,2020.12,1489.979,NaN,F,Dollars,6,Business Data Collection - BDC
19,BDCQ.SF1AA2CA,2021.03,1390.782,NaN,F,Dollars,6,Business Data Collection - BDC
20,BDCQ.SF1AA2CA,2021.06,1826.730,NaN,F,Dollars,6,Business Data Collection - BDC
21,BDCQ.SF1AA2CA,2021.09,1710.073,NaN,F,Dollars,6,Business Data Collection - BDC
22,BDCQ.SF1AA2CA,2021.12,1559.479,NaN,F,Dollars,6,Business Data Collection - BDC

In [23]:
import pandas as pd
hello = "starbucks.csv"
# head = [1,2,3,4,5,6,7,8]
df = pd.read_csv(hello)
# df.columns = head
df

,Beverage_category,Beverage,Beverage_prep,Calories,Total,Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,3 2,0.4,0.0,0,250,67,1,64,5.0,6%,8%,20%,10%,0
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6%,0%,10%,0%,0
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6%,0%,10%,0%,0
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4%,0%,10%,6%,0
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8%,0%,15%,0%,0

In [50]:
import pandas as pd
hello = "starbucks.csv"
df = pd.read_csv(hello)
# df.describe(include='all')
# a = df['Beverage_category']
df.dtypes()

TypeError: 'Series' object is not callable

In [55]:
df.describe(include = 'all')

,Beverage_category,Beverage,Beverage_prep,Calories,Total,Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
count,242,242,242,242.000000,242,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242,242,242,242,241
unique,9,33,13,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,10,14,18,36
top,Classic Espresso Drinks,Tazo® Full-Leaf Red Tea Latte (Vanilla Rooibos),Soymilk,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10%,0%,10%,0%,75
freq,58,12,66,NaN,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,188,51,99,37
mean,NaN,NaN,NaN,193.871901,NaN,1.307025,0.037603,6.363636,128.884298,35.991736,0.805785,32.962810,6.978512,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,102.863303,NaN,1.640259,0.071377,8.630257,82.303223,20.795186,1.445944,19.730199,4.871659,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,120.000000,NaN,0.100000,0.000000,0.000000,70.000000,21.000000,0.000000,18.000000,3.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,185.000000,NaN,0.500000,0.000000,5.000000,125.000000,34.000000,0.000000,32.000000,6.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,260.000000,NaN,2.000000,0.100000,10.000000,170.000000,50.750000,1.000000,43.750000,10.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,510.000000,NaN,9.000000,0.300000,40.000000,340.000000,90.000000,8.000000,84.000000,20.000000,NaN,NaN,NaN,NaN,NaN

In [58]:
df.isnull().sum()

Beverage_category            0
Beverage                     0
Beverage_prep                0
Calories                     0
 Total                       0
Trans Fat (g)                0
Saturated Fat (g)            0
 Sodium (mg)                 0
 Total Carbohydrates (g)     0
Cholesterol (mg)             0
 Dietary Fibre (g)           0
 Sugars (g)                  0
 Protein (g)                 0
Vitamin A (% DV)             0
Vitamin C (% DV)             0
 Calcium (% DV)              0
Iron (% DV)                  0
Caffeine (mg)                1
dtype: int64

In [62]:
df.dtypes

Beverage_category             object
Beverage                      object
Beverage_prep                 object
Calories                       int64
 Total                        object
Trans Fat (g)                float64
Saturated Fat (g)            float64
 Sodium (mg)                   int64
 Total Carbohydrates (g)       int64
Cholesterol (mg)               int64
 Dietary Fibre (g)             int64
 Sugars (g)                    int64
 Protein (g)                 float64
Vitamin A (% DV)              object
Vitamin C (% DV)              object
 Calcium (% DV)               object
Iron (% DV)                   object
Caffeine (mg)                 object
dtype: object

In [63]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

file_path='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv'
await download(file_path, "auto.csv")
file_name="auto.csv"
df = pd.read_csv(file_name)

ModuleNotFoundError: No module named 'pyodide'